<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OpenJournalistEntities" connectionString="metadata=res://*/OpenJournalistEntityModel.csdl|res://*/OpenJournalistEntityModel.ssdl|res://*/OpenJournalistEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JG4V86VG\LOCALDB;initial catalog=OpenJournalist;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>